*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    width: 90%;
    margin: 0 auto;
    background-color: #ccc;
}
.container{
    width: 500px;
    margin: 0 auto;
    background-color: #eee;
    height: 100vh;
    color: #444;
    

}
header h1{
    font-weight: 300;
    text-align: center;
}

.chapters{
    padding: 10px;
    margin: 10px;
}

.chapters-list li{
    list-style: none;
    padding: 5px 0;
    font-weight: 300;

}
.link{
    text-decoration: none;
    color: #444;
    transition: .4s;
}
.link:hover{
    color: lightseagreen;
}



@media (max-width:500px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
}